PROYECTO3_WEBSERVICE/InventarioProducto/InventarioProducto/Connected Services/Producto/Producto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Feature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codProduct" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FeatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FeatureResult" type="tns:inventarioProductos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="inventarioProductos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodProduct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CantExistence" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CantReOrden" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SalePrice" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FeatureSoapIn">
    <wsdl:part name="parameters" element="tns:Feature" />
  </wsdl:message>
  <wsdl:message name="FeatureSoapOut">
    <wsdl:part name="parameters" element="tns:FeatureResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductoSoap">
    <wsdl:operation name="Feature">
      <wsdl:input message="tns:FeatureSoapIn" />
      <wsdl:output message="tns:FeatureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductoSoap" type="tns:ProductoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Feature">
      <soap:operation soapAction="http://tempuri.org/Feature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductoSoap12" type="tns:ProductoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Feature">
      <soap12:operation soapAction="http://tempuri.org/Feature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Producto">
    <wsdl:port name="ProductoSoap" binding="tns:ProductoSoap">
      <soap:address location="http://localhost:8091/Producto.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductoSoap12" binding="tns:ProductoSoap12">
      <soap12:address location="http://localhost:8091/Producto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>